
.contentUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.2rem;
  width: 1.6rem;
}

.avatar {
  width: 1.6rem;
  height: 1.6rem;
  border: solid 2px #fff;
  background: rgba(255, 255, 255, 0.8);
  max-width: 100%;
  object-fit: cover;
  border-radius: .08rem;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0.1rem;
}

.avatar:hover {
  transform: scale(1.05);
  transition: all .5s;
}

.userName {
  display: block;
  font-size: .2rem;
  margin-bottom: .15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4f515b;
}
