.textForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.textarea {
  resize: none;
  width: 80%;
  padding: .1rem .2rem;
  border: 1px solid #8224e3;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  border-radius: .05rem;
}

